<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DBConnectionString>Provider=Microsoft.Jet.OleDb.4.0;Data Source={$App}\App_Data\DB\We7_CMS_DB.MDB;Persist Security Info=True;</DBConnectionString>
  <DBType>Access</DBType>
  <DBDriver>Thinkment.Data.OleDbDriver</DBDriver>
</BaseConfigInfo>