<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DBConnectionString>New=False;Compress=True;Synchronous=Off;UTF8Encoding=True;Version=3;Data Source={$App}\App_Data\DB\We7_CMS_DB;Pooling=True;Min Pool Size=3;Max Pool Size=10;Connect Timeout=30;</DBConnectionString>
  <DBType>SQLite</DBType>
  <DBDriver>Thinkment.Data.SQLiteDriver</DBDriver>
</BaseConfigInfo>