<?xml version="1.0"?>
<GeneralConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Copyright>Powered by &lt;a href="http://we7.cn/" target="_blank"&gt;We7&lt;/a&gt; V1.0.0.0正式版 ©2011 &lt;a href="http://www.westengine.com/" target="_blank"&gt;WestEngine Inc.&lt;/a&gt;</Copyright>
  <OnlyLoginUserCanVisit>false</OnlyLoginUserCanVisit>
  <EnableHtmlTemplate>true</EnableHtmlTemplate>
  <IsOEM>false</IsOEM>
  <ProductName>We7</ProductName>
</GeneralConfigInfo>