<?xml version="1.0"?>
<SiteConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SiteName>We7CMS_2010</SiteName>
  <AdministratorName>SystemAdmin</AdministratorName>
  <AdministratorKey>A7-F2-D1-71-4A-BD-2B-6C-FB-46-83-09-C6-53-36-EA</AdministratorKey>
  <IsPasswordHashed>true</IsPasswordHashed>
</SiteConfigInfo>